<link href='http://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
<header class="team-index-header">
	<h1 class="team-index-header-team">Teams</h1>
	</header>
	
	
<div class="row">
	<ul>
	<%@teams.each do |team|%>
	<div class="col-sm-4 team-name">
		<div class="well team_index">
		<p class="link_to_teams"><%= link_to team.name, team %></p>
		
		</div>
		</div>
	<%end%>
	</div>

	</ul>
</div>

