<link href='http://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
<header class="team-index-header">
	<h1 class="team-index-header-team">
		Teams
	</h1>
</header> 



<div class="row" id="teamrow">
	<%@teams.each do |team|%>
		
		<div class="col-sm-5 col-md-3 team-name">
			<a href=<%=team_path(team)%>>
			<div class="team_index hvr-float">
				<%= image_tag team.avatar(:medium), :class => "teamindexpic" %>
				<div class="caption">
					<p class="link_to_teams"><%=team.name%></p>
					<p><a href="#" class="btn btn-primary" role="button">Join Team</a> <a href="#" class="btn btn-default" role="button">Challenge Team</a></p>
				</div>

			</div>
			</a>
		</div>
	<%end%>
</div>

