<link href='http://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>

<div class="userp-container">
	<div class = "col-xs-3 col-centered"> 
		<div class ="verticalLine">
			<%=@user.name.upcase%>
			</div>
		</div>
		
		<div = "user-stats">
		
		</div>
	</div>
</div>



