@import "bootstrap-sprockets";
@import "bootstrap";

footer {
	color: red;
}

#container {
	background-color: #eee;
	margin: 0px auto;
	border: 1px solid #ccc;
	padding: 15px;
}

@import 'welcomes';
@import 'games';