@import "bootstrap-sprockets";
@import "bootstrap";
@import 'welcomes';
@import "devise";
@import "user";
@import 'games';
@import "team";
@import "teamindex";

/*
 *= require jquery-ui
 */

#container {
	background-color: #eee;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 5px;
}

#container h2 {
	margin: 0px auto;
}



