h1, h2 {
  text-align: center;
}

#football_field{
	width: 640px;
	height: 390px;
  	margin: 0 auto;
  	border: black solid 3px;
 	background-image:url('soccer_field.jpg');
 	background-repeat: no-repeat;
	background-size: cover;
}
#football_field td{
  width: 20px;
  height: 20px;
}
.stat_box {
	display: none;
}
#statsbox {
	width: 620px;
	height: auto;
	margin: auto;

}

td.alive {
  background-color: #000;
}

td.dead {
  background-color: #3BAC38;
}
.player_image {
	width: 50px;
	height: 50px;
	border-radius: 100px;
	z-index: 1;
}
#team1_players {
 	float: right;
 	width: 100px;
}
#team2_players {
 	float: left;
 	width: 100px;
}
.team2_player {
	border: solid 1px red;
}
.team1_player {
	border: solid 1px blue;
}
.team2_player:hover {
	border: solid 3px red;
}
.team1_player:hover {
	border: solid 3px blue;
}
#field_container {
	margin: 0 auto;
}
.roster td{
	padding: 10px;
	border-bottom: black solid 1px;
}
.roster th{
	padding: 10px;
	border-bottom: black solid 1px;
}
#notifications {
	width: 640px;
	margin: 0 auto;
	height: 300px;
}
#game_page_container {

  #game_name {
  	h3 {
  		margin-top: 0px
  	}
  }
}
