h1, h2 {
  text-align: center;
}

#football_field{
	width: 600px;
	height: 390px;
  	margin: 0 auto;
  	border: black solid 1px;
 	background-image:url('soccer_field.png');
 	background-repeat: no-repeat;
	background-size: cover;
}

#football_field td{
  width: 20px;
  height: 20px;
  border-radius: 40px;
}

td.alive {
  background-color: #000;
}

td.dead {
  background-color: #3BAC38;
}

#control_panel {
  margin: 10px auto;
  text-align: center;
}

.player_image {
	width: 30px;
	height: 30px;
	border-radius: 100px;
	z-index: 1000000;
}
#team1_players {
 	float: right;
 	width: 100px;
}
#team2_players {
 	float: left;
 	width: 100px;
}
.game_page_containers {
	diplay:inline-block;

}
#field_container {
	margin: 0 auto;
}
.roster td{
	padding: 10px;
	border-bottom: black solid 1px;
}
.roster th{
	padding: 10px;
	border-bottom: black solid 1px;
}
