.team-index-header {
	font-family: 'Slabo 27px', serif;
	border-bottom: 1px solid #000000;

}


.well.team_index {
		border: 0.5px solid #000000;
		margin-top: 20px;
		margin-right: 10px;	
		height: 200px;
		width: 345px;
		background-color: white;
		text-align: center;



}

.well p {
	border-bottom: 0.5px solid;
}