.userp-container {
	padding-left: 30px;
	font-size: 30px;
	font-family: 'Slabo 27px', serif;
	text-align: top;
}

.verticalLine {
    border-right: thick solid #262730;
    line-height: 550px;
    margin-top-top: auto;
    margin-bottom: auto;
}
