<nav class="navbar navbar-default">
	<div class="container-fluid">
		<form class="navbar-form navbar-left" role="search">
        	<div class="form-group">
          		<input type="text" class="form-control" placeholder="Search">
	  				<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
			</div>
      	</form>
		<ul class="nav navbar-nav navbar-right">
			<li role="presentation"><%= link_to 'Home', root_path%></li>
			<li role="presentation"><%= link_to 'Teams', teams_path%></li>			
			<li role="presentation"><%= link_to 'Profile', "/users/#{current_user.id}"%></li>
			<li role="presentation"><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
		</ul>
	</div>
</nav>