<!DOCTYPE html>
<html>
<head>
  <title>FinalProj</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<ul class="nav nav-pills">
	<li>Home</li>
	<li>Teams</li>
</ul>

<div id="container">
	<%= yield %>
</div>

<footer>Copyright Blah Blah 2015</footer>

</body>
</html>
